body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f2f6 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background: #fff;
  padding: 30px 0;
  margin-bottom: 25px;
}

.header .navbar-brand {
  font-size: 30px;
  font-weight: 700;
}

.profile {
  background: #fff;
  padding: 30px 20px;
  text-align: center;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 10px auto 25px;
}

.profile h3 {
  font-size: 32px;
  font-weight: bold;
}

.money-bar {
  color: #fff;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  padding: 15px;
  margin: 10px 0;
  font-size: 32px;
  font-weight: 700;
  z-index: 9999;
}

.money-bar span {
  margin: auto;
}

.product-card button {
  cursor: pointer;
}

.amount {
  font-size: 15px;
}
.total-price{

}